/* navigation bar */
.topnav {
    background-color:blue;
    overflow: visible;
}
.topnav a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: overline;
    font-size: 17px;
}

/* background image */ 
body {
background-image: url("image/nature.jpg");
background-size: 50%;
opacity:1;
}

/* text */
h1 {
color: pink;
text-align: center;
}

p { 
    font-size: 80px;
}
